In [1]:
# Import Python Libraries
import pandas as pd
import numpy as np
import datetime 
# plotting
import matplotlib as mpl
# machline learning package 
import sklearn as skl
# package to use regression
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#Read CSV File
df = pd.read_csv("18zpallnoagi.csv")
df.head()

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,0,2036290.0,853350.0,746450.0,393790.0,1851240.0,93480.0,...,36360.0,140470.0,388540.0,1734772.0,1602800.0,5324632.0,1570180.0,4701007.0,36520.0,559783.0
1,1,AL,35004,0,5200.0,2150.0,2100.0,820.0,4730.0,260.0,...,20.0,63.0,1000.0,3171.0,4090.0,11131.0,4050.0,10654.0,50.0,433.0
2,1,AL,35005,0,3190.0,1410.0,840.0,890.0,2880.0,160.0,...,0.0,0.0,530.0,1179.0,2630.0,7589.0,2630.0,7558.0,0.0,0.0
3,1,AL,35006,0,1240.0,490.0,590.0,140.0,1120.0,40.0,...,0.0,0.0,200.0,498.0,1010.0,2834.0,1010.0,2793.0,0.0,0.0
4,1,AL,35007,0,12050.0,4840.0,5180.0,1740.0,10580.0,840.0,...,100.0,307.0,2780.0,11619.0,9020.0,24590.0,8900.0,23889.0,150.0,668.0

In [3]:
#Remove the Aggregated Rows from the dataset
new_df = df.query("ZIPCODE!=0")
new_df = new_df.reset_index(drop=True)
new_df.shape

(27607, 153)

In [4]:
#Drop the Non-Predictors Columns from the dataset
new_df=new_df.drop(columns=['STATEFIPS','STATE','ZIPCODE','AGI_STUB','MARS1','MARS2','MARS4','ELF','CPREP','PREP','DIR_DEP','TOTAL_VITA','VITA','TCE','VITA_EIC','RAC','ELDERLY'])
new_df.head()

,N1,N2,NUMDEP,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,5200.0,10440.0,3420.0,302269.0,5200.0,304546.0,4480.0,245939.0,1270.0,953.0,...,20.0,63.0,1000.0,3171.0,4090.0,11131.0,4050.0,10654.0,50.0,433.0
1,3190.0,6060.0,2220.0,130555.0,3190.0,131420.0,2740.0,107771.0,430.0,361.0,...,0.0,0.0,530.0,1179.0,2630.0,7589.0,2630.0,7558.0,0.0,0.0
2,1240.0,2550.0,790.0,65411.0,1240.0,65797.0,1020.0,50659.0,260.0,115.0,...,0.0,0.0,200.0,498.0,1010.0,2834.0,1010.0,2793.0,0.0,0.0
3,12050.0,24970.0,8740.0,743431.0,12050.0,750814.0,10210.0,578197.0,2880.0,2512.0,...,100.0,307.0,2780.0,11619.0,9020.0,24590.0,8900.0,23889.0,150.0,668.0
4,7840.0,15810.0,5710.0,410413.0,7840.0,414405.0,6630.0,277183.0,1770.0,3596.0,...,110.0,498.0,1300.0,5018.0,6370.0,21697.0,6210.0,19500.0,180.0,2176.0

In [5]:
#Remove all the Number Columns as we are going to generate avarage amount per return. Use Amounts only for Predictors
for column in new_df.columns:
    if column not in ('N1','N2','NUMDEP'):
        if 'N' in column:
            new_df=new_df.drop(columns=column)
new_df.head()

,N1,N2,NUMDEP,A00100,A02650,A00200,A00300,A00600,A00650,A00700,...,A10960,A11560,A06500,A10300,A85530,A85300,A11901,A11900,A11902,A12000
0,5200.0,10440.0,3420.0,302269.0,304546.0,245939.0,953.0,1404.0,993.0,820.0,...,215.0,60.0,24437.0,26082.0,19.0,63.0,3171.0,11131.0,10654.0,433.0
1,3190.0,6060.0,2220.0,130555.0,131420.0,107771.0,361.0,277.0,189.0,310.0,...,202.0,27.0,8313.0,8913.0,0.0,0.0,1179.0,7589.0,7558.0,0.0
2,1240.0,2550.0,790.0,65411.0,65797.0,50659.0,115.0,160.0,75.0,100.0,...,56.0,12.0,4964.0,5295.0,0.0,0.0,498.0,2834.0,2793.0,0.0
3,12050.0,24970.0,8740.0,743431.0,750814.0,578197.0,2512.0,4998.0,3648.0,2183.0,...,752.0,161.0,65944.0,71665.0,96.0,307.0,11619.0,24590.0,23889.0,668.0
4,7840.0,15810.0,5710.0,410413.0,414405.0,277183.0,3596.0,9509.0,7543.0,820.0,...,347.0,89.0,37216.0,40869.0,159.0,498.0,5018.0,21697.0,19500.0,2176.0

In [6]:
#Get Average Amounts per return
for column in new_df.columns:
    if column not in ('N1'):
        new_df['AVG_'+column]=new_df[column]/new_df['N1']
new_df.head()

,N1,N2,NUMDEP,A00100,A02650,A00200,A00300,A00600,A00650,A00700,...,AVG_A10960,AVG_A11560,AVG_A06500,AVG_A10300,AVG_A85530,AVG_A85300,AVG_A11901,AVG_A11900,AVG_A11902,AVG_A12000
0,5200.0,10440.0,3420.0,302269.0,304546.0,245939.0,953.0,1404.0,993.0,820.0,...,0.041346,0.011538,4.699423,5.015769,0.003654,0.012115,0.609808,2.140577,2.048846,0.083269
1,3190.0,6060.0,2220.0,130555.0,131420.0,107771.0,361.0,277.0,189.0,310.0,...,0.063323,0.008464,2.605956,2.794044,0.000000,0.000000,0.369592,2.378997,2.369279,0.000000
2,1240.0,2550.0,790.0,65411.0,65797.0,50659.0,115.0,160.0,75.0,100.0,...,0.045161,0.009677,4.003226,4.270161,0.000000,0.000000,0.401613,2.285484,2.252419,0.000000
3,12050.0,24970.0,8740.0,743431.0,750814.0,578197.0,2512.0,4998.0,3648.0,2183.0,...,0.062407,0.013361,5.472531,5.947303,0.007967,0.025477,0.964232,2.040664,1.982490,0.055436
4,7840.0,15810.0,5710.0,410413.0,414405.0,277183.0,3596.0,9509.0,7543.0,820.0,...,0.044260,0.011352,4.746939,5.212883,0.020281,0.063520,0.640051,2.767474,2.487245,0.277551

In [7]:
#Generate Predictors
predictors = []
for column in new_df.columns:
    if 'AVG' in column:
        if 'A03210' not in column:
            predictors.append(column)

target = 'AVG_A03210'

In [8]:
#Model
from sklearn.model_selection import train_test_split

x = new_df[predictors].values
y = new_df[target].values

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.3, random_state=0)

linear_model = sm.OLS(y_train,X_train)
result = linear_model.fit()
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.901
Model:                            OLS   Adj. R-squared (uncentered):              0.900
Method:                 Least Squares   F-statistic:                              2564.
Date:                Thu, 01 Oct 2020   Prob (F-statistic):                        0.00
Time:                        19:58:50   Log-Likelihood:                          43480.
No. Observations:               19324   AIC:                                 -8.682e+04
Df Residuals:                   19256   BIC:                                 -8.629e+04
Df Model:                          68
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0546      0.006     -9.466      0.000      -0.066      -0.043
x2            -0.0791      0.007    -11.766      0.000      -0.092      -0.066
x3            -0.0077      0.000    -19.719      0.000      -0.008      -0.007
x4             0.0074      0.000     19.762      0.000       0.007       0.008
x5             0.0006   6.15e-05     10.044      0.000       0.000       0.001
x6             0.0016      0.000      4.795      0.000       0.001       0.002
x7            -0.0003      0.000     -0.641      0.521      -0.001       0.001
x8            -0.0002      0.000     -0.529      0.597      -0.001       0.001
x9            -0.0085      0.002     -5.091      0.000      -0.012      -0.005
x10            0.0025      0.000     10.507      0.000       0.002       0.003
x11           -0.0002   6.87e-05     -2.867      0.004      -0.000   -6.24e-05
x12           -0.0003      0.000     -1.948      0.051      -0.001    1.68e-06
x13           -0.0594      0.004    -15.519      0.000      -0.067      -0.052
x14            0.0169      0.001     12.190      0.000       0.014       0.020
x15           -0.0043      0.000     -8.668      0.000      -0.005      -0.003
x16            0.0003   7.04e-05      4.591      0.000       0.000       0.000
x17            0.0151      0.001     20.059      0.000       0.014       0.017
x18            0.9537      0.075     12.759      0.000       0.807       1.100
x19           -0.0107      0.002     -5.130      0.000      -0.015      -0.007
x20           -0.0101      0.002     -4.981      0.000      -0.014      -0.006
x21           -0.0284      0.006     -4.411      0.000      -0.041      -0.016
x22           -0.0487      0.005     -9.139      0.000      -0.059      -0.038
x23            0.0582      0.005     10.886      0.000       0.048       0.069
x24            0.0225      0.005      4.819      0.000       0.013       0.032
x25           -0.0007      0.000     -2.230      0.026      -0.001   -9.05e-05
x26            0.0002   5.46e-05      2.990      0.003    5.62e-05       0.000
x27            0.0035      0.001      4.605      0.000       0.002       0.005
x28            0.0005      0.000      2.195      0.028     5.1e-05       0.001
x29           -0.0115      0.002     -4.748      0.000      -0.016      -0.007
x30           -0.0061      0.001     -7.687      0.000      -0.008      -0.005
x31            0.0045      0.009      0.485      0.628      -0.014       0.023
x32            0.0156      0.002      6.458      0.000       0.011       0.020
x33            0.0039      0.002      2.149      0.032       0.000       0.008
x34           -0.0105      0.001    -11.006      0.000      -0.012      -0.009
x35           -0.0539      0.021     -2.607      0.009      -0.094      -0.013
x36            0.2419      0.063      3.868      0.000       0.119       0.364
x37            0.0031      0.001      3.326      0.001       0.001       0.005
x38            0.0011      0.000      2.885      0.004       0.000       0.002
x39           -0.0046      0.001     -3.591      0.000      -0.007      -0.002
x40           -0.0009      0.001     -1.725      0.085      -0.002       0.000
x41            0.0012      0.000      7.004      0.000       0.001       0.002
x42           -0.0036      0.001     -4.164      0.000      -0.005      -0.002
x43           -0.0125      0.006     -2.069      0.039      -0.024      -0.001
x44            0.0398      0.020      1.990      0.047       0.001       0.079
x45           -0.0047      0.003     -1.640      0.101      -0.010       0.001
x46            0.0009      0.003      0.324      0.746      -0.005       0.007
x47            0.4535      0.022     20.394      0.000       0.410       0.497
x48            0.6460      0.017     39.087      0.000       0.614       0.678
x49            0.3209      0.036      8.874      0.000       0.250       0.392
x50         2.496e-05   3.34e-06      7.475      0.000    1.84e-05    3.15e-05
x51           -0.0571      0.015     -3.806      0.000      -0.086      -0.028
x52           -0.0126      0.002     -5.822      0.000      -0.017      -0.008
x53            0.0003      0.004      0.068      0.946      -0.008       0.008
x54           -0.0161      0.004     -4.201      0.000      -0.024      -0.009
x55            0.1062      0.021      5.035      0.000       0.065       0.148
x56           -0.0005      0.000     -1.364      0.173      -0.001       0.000
x57           -0.0439      0.005     -8.642      0.000      -0.054      -0.034
x58            0.0294      0.005      5.357      0.000       0.019       0.040
x59            0.0791      0.004     18.155      0.000       0.071       0.088
x60           -0.1038      0.020     -5.192      0.000      -0.143      -0.065
x61            0.2344      0.044      5.274      0.000       0.147       0.321
x62            0.0067      0.001      6.257      0.000       0.005       0.009
x63           -0.0064      0.001     -6.578      0.000      -0.008      -0.005
x64           -0.0456      0.010     -4.696      0.000      -0.065      -0.027
x65            0.0040      0.002      2.437      0.015       0.001       0.007
x66           -0.0018      0.001     -2.899      0.004      -0.003      -0.001
x67           -0.0023      0.001     -2.161      0.031      -0.004      -0.000
x68           -0.0023      0.001     -1.954      0.051      -0.005    7.52e-06
x69            0.0052      0.001      4.745      0.000       0.003       0.007
==============================================================================
Omnibus:                     3373.800   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            13185.595
Skew:                           0.833   Prob(JB):                         0.00
Kurtosis:                       6.688   Cond. No.                     1.04e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.62e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [14]:
y_test_predict = result.predict(X_test)

In [20]:
#xgBoost Regressor ML Model
import xgboost as xgb
from sklearn.metrics import mean_squared_error,r2_score

xg_reg = xgb.XGBRegressor()
xg_reg.fit(X_train,y_train)
y_test_preds = xg_reg.predict(X_test)

print('R2_Score')
print('  OLS Model: ',r2_score(y_test,y_test_predict))
print('  RGB Model: ',r2_score(y_test,y_test_preds))

print('MSE_Score')
print('  OLS Model: ',mean_squared_error(y_test,y_test_predict))
print('  RGB Model: ',mean_squared_error(y_test,y_test_preds))

R2_Score
  OLS Model:  0.6668504252161378
  RGB Model:  0.7812357249937056
MSE_Score
  OLS Model:  0.000656146490530065
  RGB Model:  0.0004308617574909395