In [1]:
# Import Python Libraries
import pandas as pd
import numpy as np
import datetime 
# plotting
import matplotlib as mpl
# machline learning package 
import sklearn as skl
# package to use regression
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
#Read CSV File
df = pd.read_csv("18zpallnoagi.csv")
df.head()

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,0,2036290.0,853350.0,746450.0,393790.0,1851240.0,93480.0,...,36360.0,140470.0,388540.0,1734772.0,1602800.0,5324632.0,1570180.0,4701007.0,36520.0,559783.0
1,1,AL,35004,0,5200.0,2150.0,2100.0,820.0,4730.0,260.0,...,20.0,63.0,1000.0,3171.0,4090.0,11131.0,4050.0,10654.0,50.0,433.0
2,1,AL,35005,0,3190.0,1410.0,840.0,890.0,2880.0,160.0,...,0.0,0.0,530.0,1179.0,2630.0,7589.0,2630.0,7558.0,0.0,0.0
3,1,AL,35006,0,1240.0,490.0,590.0,140.0,1120.0,40.0,...,0.0,0.0,200.0,498.0,1010.0,2834.0,1010.0,2793.0,0.0,0.0
4,1,AL,35007,0,12050.0,4840.0,5180.0,1740.0,10580.0,840.0,...,100.0,307.0,2780.0,11619.0,9020.0,24590.0,8900.0,23889.0,150.0,668.0

In [41]:
#Remove the Aggregated Rows from the dataset
new_df = df.query("ZIPCODE!=0")
new_df = new_df.reset_index(drop=True)
new_df.shape

(27607, 153)

In [42]:
#Drop the Non-Predictors Columns from the dataset
new_df=new_df.drop(columns=['STATEFIPS','STATE','ZIPCODE','AGI_STUB','MARS1','MARS2','MARS4','ELF','CPREP','PREP','DIR_DEP','TOTAL_VITA','VITA','TCE','VITA_EIC','RAC','ELDERLY'])
new_df.head()

,N1,N2,NUMDEP,A00100,N02650,A02650,N00200,A00200,N00300,A00300,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,5200.0,10440.0,3420.0,302269.0,5200.0,304546.0,4480.0,245939.0,1270.0,953.0,...,20.0,63.0,1000.0,3171.0,4090.0,11131.0,4050.0,10654.0,50.0,433.0
1,3190.0,6060.0,2220.0,130555.0,3190.0,131420.0,2740.0,107771.0,430.0,361.0,...,0.0,0.0,530.0,1179.0,2630.0,7589.0,2630.0,7558.0,0.0,0.0
2,1240.0,2550.0,790.0,65411.0,1240.0,65797.0,1020.0,50659.0,260.0,115.0,...,0.0,0.0,200.0,498.0,1010.0,2834.0,1010.0,2793.0,0.0,0.0
3,12050.0,24970.0,8740.0,743431.0,12050.0,750814.0,10210.0,578197.0,2880.0,2512.0,...,100.0,307.0,2780.0,11619.0,9020.0,24590.0,8900.0,23889.0,150.0,668.0
4,7840.0,15810.0,5710.0,410413.0,7840.0,414405.0,6630.0,277183.0,1770.0,3596.0,...,110.0,498.0,1300.0,5018.0,6370.0,21697.0,6210.0,19500.0,180.0,2176.0

In [43]:
#Remove all the Number Columns as we are going to generate avarage amount per return. Use Amounts only for Predictors
for column in new_df.columns:
    if column not in ('N1','N2','NUMDEP','N03210'):
        if 'N' in column:
            new_df=new_df.drop(columns=column)
new_df.head()

,N1,N2,NUMDEP,A00100,A02650,A00200,A00300,A00600,A00650,A00700,...,A10960,A11560,A06500,A10300,A85530,A85300,A11901,A11900,A11902,A12000
0,5200.0,10440.0,3420.0,302269.0,304546.0,245939.0,953.0,1404.0,993.0,820.0,...,215.0,60.0,24437.0,26082.0,19.0,63.0,3171.0,11131.0,10654.0,433.0
1,3190.0,6060.0,2220.0,130555.0,131420.0,107771.0,361.0,277.0,189.0,310.0,...,202.0,27.0,8313.0,8913.0,0.0,0.0,1179.0,7589.0,7558.0,0.0
2,1240.0,2550.0,790.0,65411.0,65797.0,50659.0,115.0,160.0,75.0,100.0,...,56.0,12.0,4964.0,5295.0,0.0,0.0,498.0,2834.0,2793.0,0.0
3,12050.0,24970.0,8740.0,743431.0,750814.0,578197.0,2512.0,4998.0,3648.0,2183.0,...,752.0,161.0,65944.0,71665.0,96.0,307.0,11619.0,24590.0,23889.0,668.0
4,7840.0,15810.0,5710.0,410413.0,414405.0,277183.0,3596.0,9509.0,7543.0,820.0,...,347.0,89.0,37216.0,40869.0,159.0,498.0,5018.0,21697.0,19500.0,2176.0

In [44]:
#Create the Target Column
new_df['A03210_per_return']=new_df['A03210']/new_df['N03210']
new_df=new_df.fillna(0)
new_df.head()

,N1,N2,NUMDEP,A00100,A02650,A00200,A00300,A00600,A00650,A00700,...,A11560,A06500,A10300,A85530,A85300,A11901,A11900,A11902,A12000,A03210_per_return
0,5200.0,10440.0,3420.0,302269.0,304546.0,245939.0,953.0,1404.0,993.0,820.0,...,60.0,24437.0,26082.0,19.0,63.0,3171.0,11131.0,10654.0,433.0,1.067241
1,3190.0,6060.0,2220.0,130555.0,131420.0,107771.0,361.0,277.0,189.0,310.0,...,27.0,8313.0,8913.0,0.0,0.0,1179.0,7589.0,7558.0,0.0,1.125000
2,1240.0,2550.0,790.0,65411.0,65797.0,50659.0,115.0,160.0,75.0,100.0,...,12.0,4964.0,5295.0,0.0,0.0,498.0,2834.0,2793.0,0.0,0.740000
3,12050.0,24970.0,8740.0,743431.0,750814.0,578197.0,2512.0,4998.0,3648.0,2183.0,...,161.0,65944.0,71665.0,96.0,307.0,11619.0,24590.0,23889.0,668.0,1.112195
4,7840.0,15810.0,5710.0,410413.0,414405.0,277183.0,3596.0,9509.0,7543.0,820.0,...,89.0,37216.0,40869.0,159.0,498.0,5018.0,21697.0,19500.0,2176.0,1.000000

In [45]:
predictors = []
for column in new_df.columns:
    if '03210' not in column:
            predictors.append(column)

target = 'A03210_per_return'

In [47]:
#Linear Regression Model
#Model
from sklearn.model_selection import train_test_split

x = new_df[predictors].values
y = new_df[target].values

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.3, random_state=0)

linear_model = sm.OLS(y_train,X_train)
result = linear_model.fit()
print(result.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.577
Model:                            OLS   Adj. R-squared (uncentered):              0.576
Method:                 Least Squares   F-statistic:                              381.0
Date:                Wed, 07 Oct 2020   Prob (F-statistic):                        0.00
Time:                        06:52:10   Log-Likelihood:                         -17859.
No. Observations:               19324   AIC:                                  3.586e+04
Df Residuals:                   19255   BIC:                                  3.640e+04
Df Model:                          69
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.0003   2.25e-05    -13.276      0.000      -0.000      -0.000
x2            -0.0002   3.25e-05     -6.503      0.000      -0.000      -0.000
x3          4.337e-05   3.64e-05      1.192      0.233    -2.8e-05       0.000
x4         -3.416e-05   2.49e-06    -13.738      0.000    -3.9e-05   -2.93e-05
x5          3.249e-05   2.42e-06     13.446      0.000    2.78e-05    3.72e-05
x6          1.343e-06   2.72e-07      4.946      0.000    8.11e-07    1.88e-06
x7         -3.136e-06   1.54e-06     -2.043      0.041   -6.15e-06   -1.27e-07
x8          4.347e-06   1.67e-06      2.597      0.009    1.07e-06    7.63e-06
x9          1.699e-07   1.74e-06      0.098      0.922   -3.24e-06    3.58e-06
x10         4.803e-06    5.6e-06      0.857      0.391   -6.18e-06    1.58e-05
x11         -3.22e-06   1.28e-06     -2.508      0.012   -5.74e-06   -7.04e-07
x12         2.095e-06   2.96e-07      7.078      0.000    1.51e-06    2.68e-06
x13         1.068e-06   5.75e-07      1.856      0.063   -5.98e-08     2.2e-06
x14            0.0019   5.43e-05     34.356      0.000       0.002       0.002
x15         9.809e-06   5.86e-06      1.673      0.094   -1.68e-06    2.13e-05
x16         6.992e-07   2.24e-06      0.313      0.755   -3.68e-06    5.08e-06
x17         1.954e-06   3.43e-07      5.695      0.000    1.28e-06    2.63e-06
x18         6.666e-05   4.88e-06     13.672      0.000    5.71e-05    7.62e-05
x19           -0.0014      0.000     -4.425      0.000      -0.002      -0.001
x20           -0.0002   1.06e-05    -20.524      0.000      -0.000      -0.000
x21         1.907e-06   1.65e-05      0.115      0.908   -3.05e-05    3.43e-05
x22        -8.385e-05   2.45e-05     -3.419      0.001      -0.000   -3.58e-05
x23           -0.0019   6.88e-05    -27.843      0.000      -0.002      -0.002
x24            0.0020   6.78e-05     28.912      0.000       0.002       0.002
x25            0.0019   6.73e-05     28.342      0.000       0.002       0.002
x26        -5.918e-06   1.45e-06     -4.081      0.000   -8.76e-06   -3.08e-06
x27         1.549e-06   2.31e-07      6.711      0.000     1.1e-06       2e-06
x28         -1.67e-05   3.96e-06     -4.215      0.000   -2.45e-05   -8.93e-06
x29        -3.044e-07   7.45e-07     -0.409      0.683   -1.76e-06    1.16e-06
x30        -4.289e-05   8.34e-06     -5.145      0.000   -5.92e-05   -2.66e-05
x31         2.284e-05   2.37e-06      9.629      0.000    1.82e-05    2.75e-05
x32            0.0001   2.43e-05      4.291      0.000    5.66e-05       0.000
x33         3.739e-05   8.73e-06      4.280      0.000    2.03e-05    5.45e-05
x34         1.695e-05   5.83e-06      2.909      0.004    5.53e-06    2.84e-05
x35         2.037e-05   3.05e-06      6.685      0.000    1.44e-05    2.63e-05
x36           -0.0007   6.15e-05    -11.997      0.000      -0.001      -0.001
x37            0.0003      0.000      2.845      0.004    9.64e-05       0.001
x38         1.986e-05   3.98e-06      4.994      0.000    1.21e-05    2.77e-05
x39         4.218e-06   1.47e-06      2.870      0.004    1.34e-06     7.1e-06
x40         7.653e-06   3.17e-06      2.415      0.016    1.44e-06    1.39e-05
x41         -2.65e-05   2.52e-06    -10.528      0.000   -3.14e-05   -2.16e-05
x42         6.377e-07   7.14e-07      0.893      0.372   -7.62e-07    2.04e-06
x43        -4.319e-06   3.42e-06     -1.263      0.206    -1.1e-05    2.38e-06
x44         6.792e-05   2.53e-05      2.682      0.007    1.83e-05       0.000
x45           -0.0014      0.000    -10.435      0.000      -0.002      -0.001
x46         8.813e-05   1.03e-05      8.532      0.000    6.79e-05       0.000
x47         -9.16e-05   1.03e-05     -8.929      0.000      -0.000   -7.15e-05
x48           -0.0009   8.35e-05    -10.625      0.000      -0.001      -0.001
x49           -0.0002      0.000     -1.754      0.079      -0.000    2.08e-05
x50           -0.0006      0.000     -2.564      0.010      -0.001      -0.000
x51        -5.892e-08   1.65e-08     -3.577      0.000   -9.12e-08   -2.66e-08
x52           -0.0003   3.42e-05     -8.094      0.000      -0.000      -0.000
x53         7.767e-05   1.33e-05      5.826      0.000    5.15e-05       0.000
x54           -0.0010   9.84e-05    -10.115      0.000      -0.001      -0.001
x55            0.0010   9.46e-05     10.391      0.000       0.001       0.001
x56           -0.0013   9.46e-05    -13.263      0.000      -0.001      -0.001
x57         8.255e-06   1.81e-06      4.572      0.000    4.72e-06    1.18e-05
x58           -0.0003   3.44e-05     -8.512      0.000      -0.000      -0.000
x59            0.0003   3.88e-05      7.087      0.000       0.000       0.000
x60            0.0001   2.57e-05      4.350      0.000    6.15e-05       0.000
x61            0.0004      0.000      3.920      0.000       0.000       0.001
x62            0.0003      0.000      1.461      0.144      -0.000       0.001
x63        -1.103e-05   3.19e-06     -3.452      0.001   -1.73e-05   -4.77e-06
x64         1.355e-06    3.8e-06      0.357      0.721   -6.09e-06     8.8e-06
x65         2.081e-05   4.01e-05      0.519      0.604   -5.78e-05    9.94e-05
x66         -5.88e-05   7.35e-06     -7.998      0.000   -7.32e-05   -4.44e-05
x67          6.75e-06   2.95e-06      2.284      0.022    9.58e-07    1.25e-05
x68        -4.854e-06   5.11e-06     -0.950      0.342   -1.49e-05    5.16e-06
x69         1.745e-05   5.76e-06      3.032      0.002    6.17e-06    2.87e-05
x70        -1.035e-05   5.15e-06     -2.007      0.045   -2.05e-05   -2.42e-07
==============================================================================
Omnibus:                    12983.057   Durbin-Watson:                   1.335
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1532987.766
Skew:                          -2.357   Prob(JB):                         0.00
Kurtosis:                      46.379   Cond. No.                     1.05e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.19e-15. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [48]:
#xgBoost Regressor ML Model
import xgboost as xgb
from sklearn.metrics import mean_squared_error,r2_score

xg_reg = xgb.XGBRegressor()
xg_reg.fit(X_train,y_train)
y_test_preds = xg_reg.predict(X_test)
y_test_predict = result.predict(X_test)

print('R2_Score')
print('  OLS Model: ',r2_score(y_test,y_test_predict))
print('  RGB Model: ',r2_score(y_test,y_test_preds))

print('MSE_Score')
print('  OLS Model: ',mcean_squared_error(y_test,y_test_predict))
print('  RGB Model: ',mean_squared_error(y_test,y_test_preds))

R2_Score
  OLS Model:  -1.6702116648740715
  RGB Model:  0.749092761395866
MSE_Score
  OLS Model:  0.43230963878934786
  RGB Model:  0.04062210465090654